<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blink.io</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="panel">
            <div class="users">
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>

                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">BE
                    </span>
                    <span class="userName">Bahadır Erenonga
                    </span>
                </div>
                <div class="info">
                    <span class="userSign">EB
                    </span>
                    <span class="userName">Eren Bahadıronga
                    </span>
                </div>

            </div>
        </div>
        <div class="chat">
            <div class="info">
                <span class="userSign">BE
                </span>
                <span class="userName">Bahadır Erenonga
                </span>
            </div>
            <div class="messages">
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
                <div class="message incoming">
                    <p>Stannis kızını yakmadı. Kızını yakanlar senaristler!</p>
                    <span>04:20</span>
                </div>
                <div class="message send">
                    <p>Anan za xDe</p>
                    <span>04:20</span>
                </div>
            </div>
            <div class="form">
                <input class="messageInput" type="text">
                <button class="btnSend btn" type="button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>