<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blink.io</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </script>
    </script>
    <script src="\js\howler.js"></script>
    <script src="/js/index.js">
    </script>
</head>

<body>
    <div class="container" style="display: none;">
        <div class="panel">
            <div id="allChatSign" class="info">
                <span class="userSign">AL</span>
                <span class="userName">All Chat</span>
            </div>
            <div class="users">
            </div>
        </div>
        <div class="chat">
            <div class="info">
                <div>
                    <span id="currentUserSign" class="userSign">AL</span>
                    <span id="currentUserName" class="userName">All Chat</span>
                </div>
                <button class="btn" id="btnDisconnect" type="button">
                    <div id="signDisconnect">
                        <i class="fas fa-times"></i>
                    </div>
                    <div id="signConnect">
                        <i class="fas fa-plug"></i>
                    </div>
                </button>
            </div>
            <div class="messages">
            </div>
            <div class="form">
                <input class="messageInput" type="text">
                <button class="btnSend btn" type="button">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="intro">
        <input id="usernameInput" type="text" placeholder="write username" autofocus>
        <i id="btnUsername" class="fas fa-play" style="
    font-size: 70px;
    background: none;
    color: #455564;
    border: none;"></i>
    </div>
    <div id="dialog-confirm" title="User messaged you for the first time">
        <p>
            <span id="senderUsernameModal"></span> send message to you. Do you want to accept his messages?</p>
    </div>
</body>

</html>