body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #283747;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    color: white;
    font-size: 55px;
    background-color: inherit;
    border: none;
}

.btn:hover {
    outline: none;
    cursor: pointer;
    color: rgb(97, 42, 119);
}

.btn:focus {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

.container {
    width: 80%;
    height: 98%;
    background-color: #1B2631;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

/* -------------------Panel----------------------- */

.panel {
    width: 20%;
    height: 100%;
    border: 1px solid rgb(97, 42, 119);
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollUp {
    width: 50%;
}

.scrollDown {
    width: 50%;
}

.users {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#allChatSign {
    padding-left: 15px;
}

.panel .info .userName {
    font-size: 15px;
}

.panel .info:hover {
    background-color: #283747;
}

.users::-webkit-scrollbar {
    width: 0.5em;
}

.users::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* --------------------Chat----------------------- */

.chat {
    width: 80%;
    height: 100%;
    border: 1px solid rgb(97, 42, 119);
    border-radius: 5px;
    margin: 0;
}

.info,
.messages,
.form {
    width: 100%;
    padding: 0px;
}

.info {
    height: 8%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel .info:hover {
    color: rgb(97, 42, 119);
}

.info span {
    height: 98%;
    color: white;
    font-size: 30px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.info .userSign {
    min-width: 55px;
    border-right: 2px solid rgb(97, 42, 119);
    text-transform: uppercase;
}

.info .userName {
    padding-left: 15px;
}

.messages {
    overflow-y: scroll;
    height: 82%;
    overflow-x: hidden;
    background-color: #283747;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message p {
    padding-bottom: 0;
    margin: 5px 0 0 0;
    word-wrap: break-word;
}

.messages::-webkit-scrollbar {
    width: 1em;
}

.messages::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.message {
    width: 95%;
    color: white;
    font-size: 18px;
    margin: 5px 15px 0 15px;
    /* border-bottom: 1px solid #1B2631; */
    margin-top: 4px;
    padding: 0 7px 10px 7px;
}

.message:nth-of-type(2n) {
    background-color: #1f2c38;
}

.incoming {
    border-left: 8px solid rgb(97, 42, 119);
}

.incoming span {
    float: right;
}

.send {
    border-right: 8px solid rgb(97, 42, 119);
}

.send p {
    text-align: end;
}

.form {
    border-top: 2px solid rgb(97, 42, 119);
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messageInput {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 95%;
    color: white;
    margin-left: 15px;
    height: 25px;
    font-size: 25px;
}

.messageInput:hover {
    border-bottom: 1px solid rgb(97, 42, 119);
}

.btnSend {
    font-size: 25px;
}

/* ---------------intro------------------ */

.intro input {
    height: 250px;
    font-size: 70px;
    background: none;
    color: #455564;
    border: none;
}

/* -------------mobile support------------- */

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    .info span {
        font-size: 25px;
    }
    .panel {
        width: 15%;
    }
    .panel .info {
        padding: 0;
    }
    #allChatSign {
        padding-left: 0;
    }
    .panel .info .userName {
        display: none;
    }
    .panel .info .userSign {
        border-right: none;
    }
    .users::-webkit-scrollbar {
        width: 0.2em;
    }
    .chat .info .userSign {
        display: none;
    }
    .message {
        padding: 0 7px 0 7px;
    }
    .message p,
    .message span {
        font-size: 15px;
    }
    .messages::-webkit-scrollbar {
        width: 0.2em;
    }
    #usernameInput {
        width: 300px;
        font-size: 30px;
        height: 35px;
    }
    #btnUsername {
        font-size: 30px !important;
    }
}